/*------------------------------------------------containers-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html, body, section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

.card {
    margin: 2.5vw;
    width: 23vw;
    height: fit-content;
    border-radius: 25px !important;
    background-color: #82A4C1 !important;
}

.card-body {
    padding: 5% !important;
    height: fit-content;
    border-radius: 25px;
    background: #82A4C1;
}

/*------------------------------------------------texts-----------------------------------------*/

img.pict {
    box-sizing: unset;
    width: 70%;
    height: auto;
    border-radius: 25px;
}

.header-line {
    width: 90vw;
    height: 3px;
    background: #4D4312;
    border-radius: 3px;
    vertical-align: middle;
}

.header-line2 {
    height: 3px;
    width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
    background: #4D4312;
}

h1 {
    position: relative;
    font-family: 'Muli', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #243370;
    margin-bottom: 0 !important;
}

h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 3px;
    content: '\a0';
    background-color: #4D4312;
}
h1:before {
    margin-left: -50%;
    text-align: right;
}

.navbarfont{
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    -webkit-text-fill-color: #354756;
    margin: 10px;
}

.form-control {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 25px;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 25px;
}
  
/* Style the submit button */
form.example button{
    float: left;
    width: 9%;
    padding: 10px;
    background: white;
    color: #012875;
    font-size: 17px;
    /* border: 1px solid grey; */
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 25px;
}
  
form.example button:hover {
    background: #82A4C1 ;
}
  
/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}


#home {
    background: url('/static/images/background.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.button {
    width: 100px;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnClass {
    background-color: #82A4C1;
    color: #243370; 
    border: 2px solid #243370;
}

.btnClass2 {
    background-color: #E8E8E8;
    color: #243370; 
    border: 2px solid #243370;
}

.btnClass3 {
    background-color: #243370;
    color: #243370; 
    border: 2px solid #243370;
    -webkit-text-fill-color: #E8E8E8;
    border-radius: 20px;
}
  
.btnClass:hover {
    background-color: #0C4481;
    color: #6FB2D8;
    border: 2px solid #0C4481;
}

.btnClass2:hover {
    background-color: #0C4481;
    color: #E8E8E8;
    border: 2px solid #0C4481;
}

.btnClass3:hover {
    background-color: #0C4481;
    color: #E8E8E8;
    border: 2px solid #0C4481;
}

input.form-control {
    border-radius: 10px;
}

select.form-control {
    border-radius: 10px;
}

.review{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: medium;
    -webkit-text-fill-color: #355E82;
    margin: 10px;
}

#carname{
    font-size:40px;
    font-weight: bolder;
}

#articletitle{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.title{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #1A3852;
}

input, optgroup, select, textarea {
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
    width: 80%;
    background: #f1f1f1;
    border-radius: 25px;
}