{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>View Articles | RentACar</title>

<!------------------------------------------------------------friend list--------------------------------------------------------->

<div style="background-color: #E8E8E8; width: 100%; height: 120%;">
    <div class="container">
        <center><h1 class="title"style="padding: 4px;">ARTICLES</h1></center>
    </div>
    <br><br>
    <div class="container align-content-center">
        <div class="card" style="width: 100%;">
            <div class="card-header" style="background-color: white; border-radius: 25px 25px 0 0;">
                <div class="row no-gutters align-items-end">
                    <div class="col">
                        <h2 class="card-title" id="articletitle">
                            {{ article.title }}</a>
                        </h2>
                    </div>
                    <div class="col">
                        <h6 class="card-subtitle" style="text-align: end;">{{ article.date }}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ article.photo.url }}" class="card-img-responsive" alt="IMAGE" style="width: 100%; float: left; margin-right: 10px;">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <p class="card-text">{{ article.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
