<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!----------------------------------------------------------links------------------------------------------------------->

    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/d17701d3a2.js" crossorigin="anonymous"></script>
    
     <!--------------------------------------------------------------------------------------------------------------------->

    <title>RentACar</title>
</head>
<body>
    <!----------------------------------------------------------navigation bar------------------------------------------------------->

    <nav class="navbar navbar-expand-lg navbar-dark bg-none" id="mainNav">
        <a class="navbar-brand" href="#page-top"></a>
        <a class="navbar-brand" href="{% url 'car_rental:index' %}#welcome"><img src="{% static 'images/logo.png' %}" style="max-width: 200px;"></a>
        <button class="navbar-toggler navbar-toggler-right" style="background: #1A3852;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>           
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:index' %}" style="padding: 10px;">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10px;">
                    CARS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item navbarfont" href="{% url 'car_rental:car' %}" style="margin: 0;">CARS AVAILABLE</a>
                    <a class="dropdown-item navbarfont" href="{% url 'car_rental:addCar' %}" style="margin: 0;">RENT YOUR CAR!</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:transaction' %}" style="padding: 10px;">TRANSACTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:article' %}" style="padding: 10px;">ARTICLES</a>
            </li>
        </ul>
        </div>
    </nav>


    {% block content %}
    {% endblock %}

    <!----------------------------------------------------------bootstrap script------------------------------------------------------->

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/popper.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>