{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background: #E8E8E8;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm">
                <form class="example" method="POST" action="{% url 'car_rental:carSearch' %}">
                    {% csrf_token %}
                    <input class="form.example" type="search" placeholder="Search a Car..." name="search">
                    <button type="submit"><i class="fa fa-search" style="border-radius: 20px;max-width: 10px;"></i></button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid"><h1 class="title">CARS</h1></div>

    <div class="container" style="margin: 0;">
        <div class="d-flex flex-wrap justify-content-center">
        {% for car in car %}
        
        <form action="{% url 'car_rental:viewCar' car.id%}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body text-center">
                <img src="{% static 'images/car1.jpg' %}" class="pict">
                <h5 class="card-title">{{ car.car_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ car.city }}</h6>
                <p class="card-text">{{ car.price }} / day</p>
                <input type='hidden' name='car_name' value='{{ car.car_name }}'>
                <input type='hidden' name='city' value='{{ car.city }}'>
                <input type='hidden' name='price' value='{{ car.price }}'>
                <input type="submit" class="button btnClass" value='View Details.'>
            </div>
          </div>
        </form>

        {% endfor %}
        </div>
    </div>
</body>

{% endblock %}