{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>RentACar!</title>

<body id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <br><br><br>
                <center><h2 id="welcome">Welcome to RentACar!</h2></center>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <form class="form-inline my-2 my-lg-0 example" method="POST" action="{% url 'car_rental:carSearch' %}">
                    {% csrf_token %}
                    <input type="form-control mr-sm-2" placeholder="Search a Car..." name="search">
                    <button type="submit"><i class="fa fa-search" style="border-radius: 20px;max-width: 10px;"></i></button>
                </form>
            </div>
        </div>
    </div>

</body>

{% endblock %}
