{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background-color: #E8E8E8;">

    <div class="container-fluid title"><h1>RENT FORM</h1></div> <br><br>

    <div class="container">
        <center>
            <h2>{{ car.car_name }}</h2>
            <h3>{{ car.user_name }}</h3>
            <h4>{{ car.city }} {{ car.year }}</h4>
        </center>
    </div>

    <br><br>

    <div class="container">
        <form method="post" action="{% url 'car_rental:rentCar' %}">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-sm-8" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; text-align: center;">
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <input type="submit" class="button btnClass" value="SUBMIT">
            </div>
        </form>
    </div>
</body>

{% endblock %}