{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Transaction</title>

<body style="background: #E8E8E8;">
    <div class="container-fluid">
        <center><h1 class="title">TRANSACTIONS</h1></center>
    </div>

    <div class="container">
        <br>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="color: #243370">User Name</th>
                <th scope="col" style="color: #243370">Car</th>
                <th scope="col" style="color: #243370">Rent Start Date</th>
                <th scope="col" style="color: #243370">Rent End Date</th>
                <th scope="col" style="color: #243370">Date</th>
            </tr>
            </thead>
            <tbody>
                {% for transaction in transaction %}
                <tr>
                    <td style="text-align: center;">{{ transaction.user_name }}</td>
                    <td style="text-align: center;">{{ transaction.car }}</td>
                    <td style="text-align: center;">{{ transaction.start_date }}</td>
                    <td style="text-align: center;">{{ transaction.end_date }}</td>
                    <td style="text-align: center;">{{ transaction.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

{% endblock %}