{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background: #E8E8E8;">
    <center><div class="container_fluid"><div class="header-line"></div></div></center>

    <div class="container" style="margin-bottom:30px;">
        <center>
            <br>
            <img src="{% static 'images/car.png' %}" class="pict" style="max-width: 200px;">
            <h2 class="review" id="carname">{{ car.car_name }}</h2>
            <p class="review">{{ car.user_name }} </p>
            <h4 class="review">{{ car.city }}  {{ car.year }}</h4>
            <h4 class="review">Rp. {{ car.price }},00 / day</h4>
            <p class="review">{{ car.description }}</p><br><br>
            <form method="POST" action="{% url 'car_rental:rentCar' %}">
                {% csrf_token %}
                <input type='hidden' name='car_name' value='{{ car.car_name }}'>
                <input type='hidden' name='user_name' value='{{ car.user_name }}'>
                <input type='hidden' name='city' value='{{ car.city }}'>
                <input type='hidden' name='year' value='{{ car.year }}'>
                <input class="button btnClass2" type="submit" value="Rent now!">
            </form>
        </center>
    </div>


    <div class="container-fluid">
        <center>
        <h1 class="title">REVIEWS</h1>
        <br>
        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col-3">User Name</th>
                    <th scope="col-6">Message</th>
                    <th scope="col-2">Review Date</th>
                    <th scope="col-1">Rating (out of 5)</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                {% if review.car == car %}
                <tr>
                    <td style="text-align: center;">{{ review.user_name }}</td>
                    <td style="text-align: center;">{{ review.message }}</td>
                    <td style="text-align: center;">{{ review.date }}</td>
                    <td style="text-align: center;">{{ review.rating }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </center>
    </div>

</body>

{% endblock %}